/**

!.gitignore
!/.git/

!/betterlockscreen/
!/bspwm/
!/dotdot/
!/mpd/
!/ncmpcpp/
!/nnn/
!/polybar/
!/ranger/
!/utils/
!/sxhkd/
!/wired/
!libinput-gestures.conf
!picom.conf
!starship.toml
!wp
!README.md

